<section class="table-section">
    <button id="get-button" (click)="getMovies()">Get movie List</button>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies" class="table-row">
          <td>{{ movie.title }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.category }}</td>
          <td>
            <div class="btn-group">
<!--
              <button [routerLink]="['movie/' + movie.id]" class="btn btn-info" (click)="updateItem(movie)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-success" (click)="onCreate(movie)">
                <i class="fa fa-plus"></i>
              </button>
              <button class="btn btn-info" (click)="onUpdate(movie)">
                <i class="fa fa-refresh"></i>
              </button>
-->
              <button class="delete-button" (click)="deleteMovie(movie.id)">Delete</button>
            </div>
          </td>
        </tr>
        </tbody>
    </table>
</section>
